option_settings:
  #Autoscalingの設定
  ## EC2インスタンスが起動されるAZ(Any 2は任意の２つのAZ)
  - namespace: aws:autoscaling:asg
    option_name: Availability Zones
    value: Any 2
  ## EC2インスタンスの最大数
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 4
  ## EC2インスタンスの最小数
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 2
